<div class="container">
    {{{menu_html}}}
    <div class="row">
        <div class="col m6 push-m3">
            <h4 class="addUser__header">Add new user</h4>
        </div>
    </div>
    <div class="row">
        <form class="col m4 push-m4 addUser__form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" required class="validate addUser__username">
                    <label for="username">User name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="text" required class="validate addUser__password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row addUser__btnCont">
                <input type="submit" class="waves-effect waves-light btn" value="Submit"/>
            </div>
        </form>
    </div>
</div>