<div class="container caloriesList">
    {{{menu_html}}}
    <div class="row">
        <div class="col m4 push-m2">
            <h4 class="caloriesList__header">Your calories</h4>
        </div>
        <div class="col m4 push-m2 s12 caloriesList__addContainer">
            <a href="#add_note" class="caloriesList__addNoteButt">
                <i class="material-icons small">note_add</i>
                <br>
                Add new note
            </a>
        </div>
    </div>
    <div class="row caloriesList__labels">
        <div class="col m2  push-m2">Date from:</div>
        <div class="col m2 push-m2">Date to:</div>
        <div class="col m1 push-m2">Time from:</div>
        <div class="col m1 push-m2">Time to:</div>
    </div>
    <div class="row caloriesList__filterContainer">
        <div class="col m2  push-m2">
            <input type="date" class="datepicker caloriesList__dateFrom">
        </div>
        <div class="col m2 push-m2">
            <input type="date" class="datepicker caloriesList__dateTo">
        </div>
        <div class="col m1 push-m2">
            <input type="time" class="timepicker caloriesList__timeFrom">
        </div>
        <div class="col m1 push-m2">
            <input type="time" class="timepicker caloriesList__timeTo">
        </div>
        <div class="col m2 push-m2 caloriesList__filterButtContainer">
            <button class="btn btn-xs caloriesList__filterButt">Apply</button>
        </div>
    </div>
    <div class="row caloriesList__result">
        <div class="col m8 push-m2">
            <table class="bordered">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th class="_roleUserHide">User</th>
                    <th>Text</th>
                    <th>kcal</th>
                    <th>Edit</th>
                </tr>
                {{#each notes}}
                <tr class="caloriesList__note {{class}}">
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                    <td class="_roleUserHide">{{username}}</td>
                    <td>{{text}}</td>
                    <td>{{calories}}</td>
                    <td>
                        <a href="#edit_note?id={{id}}" class="caloriesList__editRow">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div class="row caloriesList__pagination">
        <div class="col m4 push-m2">
            {{#if show_next_page}}
            <a href="#notes_list?page={{next_page}}" class="caloriesList__nextPage">-> Next page</a><br>
            {{/if}}
            {{#if show_prev_page}}
            <a href="#notes_list?page={{prev_page}}" class="caloriesList__prevPage"><- Previous page</a>
            {{/if}}
        </div>
        <div class="col m4 push-m2 caloriesList__total">
            Total {{total_calories}} kcals on page
        </div>
    </div>
</div>