<div class="container caloriesList">
    <div class="row menu">
        <div class="col m8 push-m2">
            <ul class="menu__container">
                <li class="menu__item"><a href="#" data-role="exit">Exit</a></li>
                <li class="menu__item"><a href="#" data-role="exit">Notes</a></li>
                <li class="menu__item"><a href="#" data-role="exit">Users</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col m4 push-m2">
            <h4 class="caloriesList__header">Your calories</h4>
        </div>
    </div>
    <div class="row caloriesList__filterContainer">
        <div class="col m4 push-m2">
            Filter: <a href="#" class="caloriesList__daysFilter">any day</a> /
            <a href="#" class="caloriesList__daysFilter">any time</a>.
        </div>
        <div class="col m4 push-m2 s12 caloriesList__addContainer">
            <a href="#" class="caloriesList__addNoteButt">
                <i class="material-icons small">note_add</i>
                <br>
                Add new note
            </a>
        </div>
    </div>
    <div class="row caloriesList__result">
        <div class="col m8 push-m2">
            <table class="bordered">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Text</th>
                    <th>Calories</th>
                    <th>Edit</th>
                </tr>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                    <td>Eclair</td>
                    <td>
                        <a href="#" class="caloriesList__editRow">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row caloriesList__pagination">
        <div class="col m8 push-m2">
            <a href="#" class="caloriesList__daysFilter">-> Next page</a>
            <br>
            <a href="#" class="caloriesList__daysFilter"><- Previous page</a>
        </div>
    </div>
</div>