<div class="container editUser">
    {{{menu_html}}}
    <div class="row">
        <div class="col l4 m12 s12 push-l4">
            <h4 class="editUser__header">{{#if id}}Edit user{{else}}Create user{{/if}}</h4>
        </div>
    </div>
    <div class="row">
        <form class="col l4 m12 s12 push-l4 editUser__form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="editUser__dailyNormal" type="number" required class="validate" value="{{daily_normal}}">
                    <label for="editUser__dailyNormal" class="active">Daily normal, kcal.</label>
                </div>
            </div>
            {{#if is_user}}{{else}}
            <div class="row">
                <div class="input-field col s12">
                    <input id="editUser__username" type="text" required class="validate" value="{{username}}">
                    <label for="editUser__username" class="active">User name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="editUser__role">
                        {{#each possible_roles}}
                        <option value="{{id}}" {{#if selected}}selected{{/if}}>{{title}}({{id}})</option>
                        {{/each}}
                    </select>
                    <label for="editUser__role">Role</label>
                </div>
            </div>
            {{/if}}
            {{#if can_edit}}
                <div class="row editUser__buttContainer">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            <i class="material-icons right">save</i>
                            Save
                        </button>
                    </div>
                </div>
                {{#if is_user}}{{else}}
                    <div class="row editUser__deleteContainer">
                        <a href="#users_list" class="editUser__deleteLink">Delete this user</a>
                    </div>
                {/if}}
            {{/if}}
        </form>
    </div>
</div>