<div class="container">
    <div class="row">
        <div class="col m6 push-m3">
            <h4 class="login__header">Authentication</h4>
        </div>
    </div>
    <div class="row">
        <form class="col m4 push-m4 login__form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" required class="validate login__username">
                    <label for="username" class="active">User name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" required class="validate login__password">
                    <label for="password" class="active">Password</label>
                </div>
            </div>
            <div class="row login__btnCont">
                <input type="submit" class="waves-effect waves-light btn" value="Submit"/>
            </div>
            <div class="row login__linkCont">
                <a href="#register">Register new account</a>
            </div>
        </form>
    </div>
</div>