<div class="row menu">
    <div class="col l10 m12 s12 push-l1">
        <ul class="menu__container">
            <li class="menu__item"><a href="#login">Exit</a></li>

            {{#if role_admin}}
            <li class="menu__item"><a href="#notes_list">Notes</a></li>
            <li class="menu__item"><a href="#users_list">Users</a></li>
            {{/if}}

            {{#if role_manager}}
            <li class="menu__item"><a href="#users_list">Users</a></li>
            {{/if}}

            {{#if role_user}}
            <li class="menu__item"><a href="#notes_list">Notes</a></li>
            <li class="menu__item"><a href="#settings">Settings</a></li>
            {{/if}}
        </ul>
    </div>
</div>