<div class="container">
    <div class="row">
        <div class="col m6 push-m3">
            <h4 class="register__header">Registration</h4>
        </div>
    </div>
    <div class="row">
        <form class="col m4 push-m4 register__form">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" required class="validate register__username">
                    <label for="username">User name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" required class="validate register__password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row register__btnCont">
                <input type="submit" class="waves-effect waves-light btn" value="Submit"/>
            </div>
            <div class="row register__linkCont">
                <a href="#login">Login into existing account</a>
            </div>
        </form>
    </div>
</div>