.caloriesList__addContainer{
    text-align: right;
}
.caloriesList__total{
    text-align: right;
}
.caloriesList__note._red{
    background-color: #ffcdd2;
}
.caloriesList__note._green{
    background-color: #c8e6c9;
}