.notesList__addContainer{
    text-align: right;
}
.notesList__total{
    text-align: right;
}
.notesList__note._red{
    background-color: #ffcdd2;
}
.notesList__note._green{
    background-color: #c8e6c9;
}
.notesList__labels{
    font-size: 12px;
    margin-bottom: 0;
}
.notesList__filterButtContainer{
    text-align: right;
}